{% extends "base.html" %}
{% block content %}
<h2>Assessments</h2>

<a class="btn btn-success btn-sm mb-3" href="{% url " assessment-add" %}" role="button">
    Create New Assessment
    <i class="bi bi-person-plus"></i>
</a>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Standard</th>
            <th scope="col">Student First</th>
            <th scope="col">Student Last</th>
            <th scope="col">Score</th>
            <th scope="col">Active</th>
        </tr>
    </thead>
    <tbody>
        {% for assessment in object_list %}
        <tr>
            <th scope="row">
                <a href="{% url " assessment-detail" pk=assessment.pk %}">
                    {{assessment.id}}
                </a>
            </th>
            <td>
                <a href="{% url " assessment-detail" pk=assessment.pk %}">
                    {{assessment.standard.statement_name}}
                </a>
            </td>
            <td>
                <a href="{% url " assessment-detail" pk=assessment.pk %}">
                    {{assessment.student.first_name}}
                </a>
            </td>
            <td>
                <a href="{% url " assessment-detail" pk=assessment.pk %}">
                    {{assessment.student.last_name}}
                </a>
            </td>
            <td>
                <a href="{% url " assessment-detail" pk=assessment.pk %}">
                    {{assessment.score}}
                </a>
            </td>
            <td>
                <a href="{% url " assessment-detail" pk=assessment.pk %}">
                    {{assessment.active}}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}