{% extends "base.html" %}
{% block content %}
    <h1>
        <small>
            Name 
        </small>
        {{object.first_name}} {{object.last_name}}
    </h1>
        <p>
            Active: {{object.active}}
        </p>
        <div class="btn-group">
        <a href="{% url "student-list" %}" class="btn btn-primary">
            Go Back to Student List
        </a>
        <a href="{% url "student-update" pk=object.pk %}" class="btn btn-warning">
            Edit Student
        </a>
        <a href="{% url "student-delete" pk=object.pk %}" class="btn btn-danger">
            Delete Student
        </a>
        </div>
{% endblock %} 