{% extends "base.html" %}
{% block content %}
<h1>
    {{object.first_name}} {{object.last_name}} 
</h1>
<ul> 
    {% for a in object.assessment_set.all %}
        <li>{{a.standard.statement_name}}: {{a.score}}</li>
    {% empty %}
        <li>This student has no assessments</li>
    {% endfor %}
</ul>
<p>
    Active: {{object.active}}
</p>
<div class="btn-group">
    <a href="{% url "student-list" %}" class="btn btn-primary btn-sm ml-2">
        Go Back to Student List
    </a>
    <a href="{% url "student-update" pk=object.pk %}" class="btn btn-warning btn-sm ml-2">
        Edit Student
    </a>
    <a href="{% url "student-delete" pk=object.pk %}" class="btn btn-danger btn-sm ml-2">
        Delete Student
    </a>
</div>
{% endblock %}